doctype html
html
  head
    title= title
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    style.
      body {
        background-color:#464646;
        color:#fafafa;
      }
      legend {
        color: #8BC34A;
        border-bottom: 1px solid #8BC34A;
        margin-top: 20px;
        font-size: 25px;
      }
      .btn-primary {
        background-color: #8BC34A;
        border-color: #8BC34A;
        margin-left: 160px;
        margin-top: 5px;
      }
      .btn-primary:hover {
        background-color: #54752E;
        border-color: #54752E;
      }
      .form-control{
        width: 300px;
      }
      .error{
      border-bottom:none;
      }
  body
    .container
      block content
